.about-intro {
    position: relative;
    min-height: 700px;
    width: 100vw;
    background-image: url(../images/Contact_indigo.jpg) ;
    /*background-color: blue;*/
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding: 120px 10% 0;
    z-index: auto;
}

.row .futatsu {
    position: relative;
    overflow: auto;
    min-height: 400px;
}


.about-title {
    margin: 0 0 20px;
    text-align: left;
}


.myname {
    margin-left: 0;
    height: 50px;
}

#cf {
    position:relative;
    height:100%;
    width:100%;
    margin: 0 0 200;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.about-sm {
    margin: 5px 0 5px;
    font-size: 1.2rem;
}

.about-lg {
    font-style: italic;
    float: none;
    margin: 0;
    font-weight: 400;
}

.row .about-btns {
    background-color: #ffffff;
    min-height: 100px;
    padding: 20px 0 50px;
    text-align: center;
}