.about-intro {
    position: relative;
    min-height: 500px;
    height:auto;
    /*
    background-image: url(../images/Contact_indigo.jpg) ;
    */
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 20px;
    z-index: auto; 
    text-align: center;
    }

.flat{
    height: 1px;
    margin: 0;
}

.areazero{
    height: 60px;
    margin: 0 10%;
}

.namegap{
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    font-weight:400;
    color: #0F5474;
}

.about-sm {
    margin: 5px 0 5px;
    font-size: 1.2rem;
    text-align: center;
}

.about-lg {
    font-style: italic;
    float: none;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.sectionend{
    padding-bottom: 15px;   
}

.hidari{
    margin-left: 10%;
    padding: 0;
}

.kao{
    width:95%;
    max-width:500px;
    padding: 0 0 15px 0;
}

.migi{
    position: relative;
    overflow: auto;
}

.about-title {
    margin: 0 0 20px;
    text-align: left;
}

.myname {
    height: 75px;
}

.chuo{
    text-align: center;
}

.pic-centering{
    text-align: center;
    padding: 20px 0;
}

#cf {
    position:relative;
    height:100%;
    width:100%;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}


.row .about-btns {
    background-color: #ffffff;
    min-height: 100px;
    padding: 20px 0 50px;
    text-align: center;
}

.my-slider{

    height: 30px;
}

.pic-centering-slider{
    max-width: 1000px;
}

/*モダル*/
#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
    /*position:fixed;*/
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}


$("#modal-open").click(
	function(){
		//[id:modal-open]をクリックしたら起こる処理
	}
);

/*モダルおしまい*/