

.contact-box {
    position: relative;
    min-height: 700px;
    background-image: url(../images/Contact_indigo.jpg) ;
    /*background-color: blue;*/
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 5%;
    z-index: 1;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.formtitle {
    margin: 20px 0 2px;
    font-size: 1.2rem;
}

.formfields {
    width: 100%;
}

.content-btn{
margin-top: 5%;
text-align: center;
}