.contact-box {
    position: relative;
    height: auto;
    background-image: url(../images/Contact_indigo.jpg) ;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 20px;
    z-index: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.formtitle {
    margin: 20px 0 2px;
    font-size: 1.2rem;
}

.formfields {
    width: 100%;
}

.content-btn{
margin: 5% 0;
padding: 0px;
text-align: center;
}

.btn-size {
    min-width: 240px;
}