.about-mains {
    position: relative;
    width: 100vw;
    height: auto;
    padding: 1rem 0;
    background-color: #ffffff;
}

.mydivider {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #D1D3D4;
}

.summary-item-title{
    text-transform: uppercase;
    font-weight: 500;
}

.lower-cases {
    text-transform: lowercase;
}

.col-md-10{
    position: center;
    overflow: auto;
    max-width: 950px;

}

.cs-bullets{
    font-weight:300;
    list-style-type:square;
}

.about-text-gray {
    background-image: linear-gradient(45deg, #E6E7E8 0%, #D1D3D4 100%);
}

.about-pic {
    background-image: linear-gradient(45deg, #E6E7E8 0%, #D1D3D4 100%);
    padding: 0;
}

.about-pic-color{
    background-image: linear-gradient(135deg, #94cbd1 0%, #e6e7e8 100%);
}

.about-pic-two {
    background-image: linear-gradient(45deg, #D1D3D4 0%, #E6E7E8 100%);
    padding: 0 10%;
}

.about-pic-three {
    background-color: #e6e7e8;
    padding: 0 10%;
}

.about-pic-four {
    background-image: linear-gradient(45deg, #D1D3D4 0%, #E6E7E8 100%);
    padding: 0 10%;
}

.pic-centering{
    text-align: center;
    padding: 20px 0;
}

.pic-right{
    text-align: right;
    padding: 20px 10px;
}

.pic-left{
    text-align: left;
    padding: 20px 10px;
}

.cs-haikei {
    background-color: #e6e7e8;
}

.cs-storyandflow{
    max-width:95%;
    height: auto;
}

.cs-hero{
    width:95%;
    height:auto;
    max-width:690px;
}

.cs-mil{
    width:95%;
    height:auto;
    max-width:1000px;
}

.cs-finaldes{
    width:95%;
    height:auto;
    max-width:850px;
}

.intro-cs {
    text-align: center;
    margin: 0 auto;
    padding-top: 450px;

}

.intro-cs-bottom {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.contact-cs-text{
    text-transform: uppercase;
    margin-left: 0;
}

.cs-bottom-nav{
    padding: 2% 0 0;
}

.cs-text{
    text-align: center;
    text-transform: capitalize;
}

.cs-survey-numbers{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #0F5474;
    margin: 0;
    border-bottom: solid;
    border-bottom-width: thin;
    
}

.cs-survey{
    text-align: center;
}

.row .mittsu {
    position: relative;
    overflow: auto;
    /*background-image: linear-gradient(160deg, #E6E7E8 0%, #D1D3D4 100%);*/
}

.wf-ind-right{
    text-align: left;
    margin: 20px 0;
}

.wf-ind-left{
    text-align: right;
    margin: 20px 0;
}

.wf-ind{
    text-align: center;
    margin: 20px 0;
}

.wf-ind img{
    width: 90%;
}

.wf-upper {
    margin: 0 0 20px;
}

.contact-container-cs {
    padding: 2rem 0;
    background-color: #ffffff;
}

.white{
    background-color: #ffffff;
}

.statscolumn {
    max-width: 1000px;
}

.mag-to-link{
    position: absolute;
    top: 0;
    right: 20px;
    color: #939598;
}
