/*
font-family: 'Montserrat', sans-serif;
font-family: 'MOntserrat', sans-serif;
*/

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 } 

html {
    height: 100; /* HTML takes up 100% of the browser window */
    font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h4{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

h1, h2 {
    text-shadow: 2px 2px #333333;
    color: #ffffff;
    margin: 0;
}

h1 {
    font-size: 8.2vw;
    padding-bottom: 15%;

}

h2 {
    font-size: 6.5vw;
}

h3 {
    font-size:2rem;
    font-weight: 300;
    margin:0 0 0 5%;
    text-transform:capitalize;
}

h4{
    font-size: 3rem;
    font-weight: 300;
    color: #333333;
    margin: 0;
}

h5{
    font-size: 1.5rem;
    font-weight: 300;

}

h6{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 20px 0;
    color: #ffffff;
}

.section-title {
    color: #0F5474;
    text-transform: uppercase;
    margin: 0;
}

p {
    color: #333333;
    font-weight: 300;
    text-align: left;
    line-height: 150%;
}
a {
    color: #333333;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #F7B334;
}

.active{
    font-weight: 400;
    color: #0F5474;    
}

.navbar {
    position: relative;
    background-color: #ffffff;
    padding-top:1.2rem;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #D1D3D4;
    overflow: ;
    height: 7vh;
    width: 100vw;
    min-height: 110px;
    z-index: 4;
}

.navbar .logo {
   /* background-color: beige;*/
    padding: 0 0 0 0;
    text-align: center;
}

.navbar .links-container {  
    display: table;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    /*background-color: red;*/
    width: 100%;
    padding: 11px 0 11px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}


.hero-frame {
        padding-top: 0px;
}

.hero-box {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Home_indigo2.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 10vh;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 0%;
  }
}

.sankaku {
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top: 40px solid #ffffff;
    margin: auto;
    position: relative;
    bottom: 0%;
    animation: MoveUpDown 2.2s linear infinite;
}

.intro-container {
    padding: 2rem 0;
    background-color: #ffffff;
}

.intro {
    text-align: center;
    margin: 0 auto;
}

.intro-txt {
    text-align: center;
}

/* button*/
.btn {
    border-radius: 8px;
	color: #ffffff;
	font-weight: 300;
	text-decoration: none;
	padding:10px 0px;
	background: #0F5474;
	border: 2px solid #0F5474;
	box-shadow: 0px 2px 0px 0px #333333;
    margin: 0 auto;
    text-transform: uppercase;
    min-width: 290px;
    
	}

.btn:hover {
    font-weight: normal;
    color: #FFFFFF;
    /*color: #F7B334;*/
    background-color: #CE8613;
    border: 2px solid #CE8613;
    box-shadow: 0px 2px 0px 0px #966012;
} 


/* projects */
.project-title {
    /*background-color: red;*/
    position: relative;
    width: 100vw;
    padding: 1rem 0;
    background-image: linear-gradient(45deg, #E6E7E8 0%, #D1D3D4 100%);
}

.project-box {
}

.project-box .project-one {
    position: relative;
    width: 100vw;
    min-height: 400px;
    background-image: url(../images/proj_pic_gsd.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}

.project-title-one {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(247, 179, 52, 0.75);
    text-align: left;
    color: white;
    ;
}

.project-box .project-two {
    position: relative;
    width: 100vw;
    min-height: 400px;
    background-image: url(../images/proj_pic_k9c.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

.project-title-two {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(112, 171, 229, 0.75);
    text-align: left;
    color: white;
}


.project-box .project-three {
    position: relative;
    width: 100vw;
    min-height: 400px;
    background-image: url(../images/proj_pic_blocbox.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    overflow: auto;
}

.project-title-three {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(51, 51, 51, 0.75);
    text-align: left;
   color: white;
}

.project-box .project-four {
    position: relative;
    width: 100vw;
    min-height: 400px;
    background-image: url(../images/proj_pic_blocjams.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

.project-title-four {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(111, 89, 126, 0.75);
    text-align: left;
        color: white;
}

.elv-container {
    padding: 2rem 0;
    background-color: #ffffff;
}

.elv {
    text-align: center;
    margin: 0 auto;s
}

.elv-txt {
    text-align: center;
}

.two-sec-title {
    margin: 0 0 30px;
}

.row .work {
    background-image: linear-gradient(160deg, #E6E7E8 0%, #D1D3D4 100%);
    min-height: 200px;
    padding: 30px 0;
    text-align: center;
}

.row .contact {
    background-image: linear-gradient(160deg, #E6E7E8 0%, #D1D3D4 100%);
    min-height: 200px;
    padding: 30px 0;
    text-align: center;
}

.myfooter {
    position: relative;
    background-color: #333333;
    padding:1.2rem;
    overflow: auto;
    z-index: 1;
}

.fa {
    color: white;
}

.row .mylinks {
    text-align: right;
    font-size: 2rem;
}

.row {
    width: 100vw;
    margin: 0;
}

*.row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row ul li {
    display: inline-block;
    margin: 0 10px;
}*

/* --- モーダル --- */
.modal-middle {		//モーダルウィンドウの縦表示位置を調整
	margin: 5% auto;
}
 
.modal-img_footer {	//表示予定のテキストとボタンを中央揃え
	padding: .5em;
	text-align: center;
}

/* --- 使わなかったらdeploy前に消す --- */

.photo-show { 
    min-height: 330px; /*表示したい大きさ*/
    margin: 0; /*縦余白30pxは任意*/
    position: relative;
    overflow: auto;
    width: 90%; /*表示したい大きさ、height と合わせる*/
}

.photo-show img { 
    animation: show 15s infinite;
    -webkit-animation: show 15s infinite;
    height: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute; /*画像を全て重ねる*/
text-align: center;
}

/*アニメーション*/

@keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
 }

@-webkit-keyframes show {
    0% {opacity:0}
    5% {opacity:1}
    10% {opacity:1}
    20% {opacity:0}
}

/*各画像のアニメーションの開始時間をずらす*/

.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.photo-show img:nth-of-type(3) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}

.photo-show img:nth-of-type(4) {
    animation-delay: 9s;
    -webkit-animation-delay: 9s;
}

.photo-show img:nth-of-type(5) {
    animation-delay: 12s;
    -webkit-animation-delay:12s
}

.photo-show img:nth-of-type(6) {
    animation-delay: 15s;
    -webkit-animation-delay: 15s;
}
