

.portfolio-box {
    position: relative;
    height: 25vh;
    background-image: url(../images/Indigo_short.jpg) ;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding: 12vh 0 3vh;
    z-index: auto;
}

/*uxui*/

.project-box-p .project-one {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_gsd.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}

.row .futatsu {
    position: relative;
    overflow: auto;
    padding: 0;
}

.project-title-one {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(247, 179, 52, 0.75);
    text-align: left;
    color: white;
}

.project-box-p .project-two {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_k9c.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}

.project-title-two {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(112, 171, 229, 0.75);
    text-align: left;
    color: white;
}


.project-box-p .project-three {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_blocbox.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}

.project-title-three {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(51, 51, 51, 0.75);
    text-align: left;
   color: white;
}

.project-box-p .project-four {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_blocjams.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}

.project-title-four {
    position: relative;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(111, 89, 126, 0.75);
    text-align: left;
        color: white;
}

/*PRINTS*/

.pr-hero{
    max-height: 360px;
    width: auto;
    z-index: 2;
}

.project-title-five {
    position: absolute;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(84, 136, 70, 0.75);
    text-align: left;
    color: white;
    z-index: 3;
}

.project-box-p .project-five{
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #a6bea0;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-title-six {
    position: absolute;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(228, 214, 59, 0.75);
    text-align: left;
    color: white;
    z-index: 3;
}

.project-box-p .project-six {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-color: #f4eeb4;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-title-seven {
    position: absolute;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(0, 120, 174, 0.75);
    text-align: left;
    color: white;
    z-index: 3;
}

.project-box-p .project-seven {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #98bfd1;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-title-eight {
    position: absolute;
    margin: 40px 0;
    padding: 15px 0; 
    background-color: rgba(208, 164, 120, 0.75);
    text-align: left;
    color: white;
    z-index: 3;
}

.project-box-p .project-eight {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #DFBF9A;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

