

.portfolio-box {
    position: relative;
    height: auto;
    background-image: linear-gradient(45deg, #0f5474 0%, #2183a5 100%);
    background-color: #0f5474;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding: 30px 0 30px;
    z-index: auto;
    color: #ffffff;
}

/*uxui*/

.row .futatsu {
    position: relative;
    overflow: auto;
    padding: 0;
}

.half-box{
    padding-top: 0%;
}

.project-box-p .project-one {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_gsd.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
}


.project-box-p .project-two {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_k9c.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

.project-box-p .project-three {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/proj_pic_blocbox.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    overflow: auto;
}

.project-box-p .project-four {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/cs_placeholder.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
}

/*PRINTS*/

.pr-hero{
    max-height: 360px;
    width: auto;
    z-index: 2;
}

.pr-hero2{
    height: auto;
    max-width: 100%;
    z-index: 2;
}

@media (max-width: 1000px){
.pr-hero{
    width: 70%;
    }
}

.project-box-p .project-five{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #a6bea0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-block-five {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(84, 136, 70, 0.95);
    padding-top: 0%;
    text-align: center;
}

.project-five:hover .project-block-five {
  opacity: 1;
}

.project-box-p .project-six {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-color: #f4eeb4;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-block-six {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(216, 205, 102, 0.95);
    padding-top: 0%;
    text-align: center;
}

.project-six:hover .project-block-six {
  opacity: 1;
}

.project-box-p .project-seven {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #98bfd1;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-block-seven {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 120, 174, 0.95);
    padding-top: 0%;
    text-align: center;
}

.project-seven:hover .project-block-seven {
  opacity: 1;
}
    
.project-box-p .project-eight {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #DFBF9A;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: auto;
    z-index: 1;
}

.project-block-eight {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(208, 164, 120, 0.95);
    padding-top: 0%;
    text-align: center;
}

.project-eight:hover .project-block-eight {
  opacity: 1;
}

