.hero-trm-container {
    position: relative;
    height: auto;
    background-image: linear-gradient(135deg, #b9e065 0%, #548846 100%);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top:20px;
    z-index: auto;
}
.hero-w2r2015-container {
    position: relative;
    height: auto;
    background-image: linear-gradient(135deg, #f2ea8f 0%, #e4d63b 100%);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 20px;
    z-index: auto;
}

.hero-mddc-container {
    position: relative;
    height: auto;
    background-image: linear-gradient(135deg, #98bfd1 0%, #0078ae 100%);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 20px;
    z-index: auto;
}

.hero-calendar-container {
    position: relative;
    height: auto;
    background-image: linear-gradient(135deg, #EFD9C2 0%, #D1A578 100%);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: auto;
    padding-top: 20px;
    z-index: auto;
}
